<h1><%= @artist.name %></h1>
<h3><%= @artist.genre %></h3>

<% if @artist.albums.any? %>
  <h4>Here are the albums for this artist:</h4>

  <% @artist.albums.each do |album| %>
    <ul>
      <li>
        <%= link_to album.name, album_path(@album) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No songs are listed for this artist.</p>
<% end %>

<p><%= link_to "Add ASSOCIATION BETWEEN ARTIST AND ALBUM", new_album_artist_path(@artist) %></p>

<p><%= link_to "Edit", edit_artist_path(@artist) %></p>
<p><%= link_to "Delete", artist_path(@artist),
                        :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>

<p><%= link_to "Return to artists", artists_path %></p>